<div class="jumbotron">
  <h1>Ahoy Matey!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
May your anchor be tight, your cork be loose, your rum be spiced and your compass true.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Yo Ho Ho!&nbsp;<span class="glyphicon glyphicon-fire"></span></a></p>
</div>


<div class="row marketing">

<div ng-app ng-init="firstnum=1;secondnum=2">
  <h1>Do Some Addition!</h1>
  <input type="number" min="0" ng-model="firstnum"/> &nbsp;+&nbsp;<input type="number" min="0" ng-model="secondnum"/> &nbsp;=&nbsp; <b>{{firstnum + secondnum}}</b>
  <br>
</div>



</div>
